<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
<!-- this is for the home route of the entire app,. just render the index file -->
    <title></title>
  </head>
  <body>
    <div class="index">
      <p> This is my spotify application </p>
      <a href="/people">Click here to proceed </a>
    </div>
  </body>
</html>
