<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type ="text/javascript" src="/js/jquery.js"></script>
  <script type ="text/javascript" src="/js/script.js"></script>
</head>
<body>
  <h5>Create a new Person</h5>
  <form class="new-people-form">
    <label>Name: </label>
    <input class="people-name-input" />
    <br />

    <label>Favorite City: </label>
    <textarea class="people-favoriteCity-input"></textarea>
    <br />

    <button type ="submit">Submit</button>
  </form>
</body>
</html>

</body>
</html>
